{{ if .Site.Data.team.enable}}
{{"<!-- Ils nous fond confiance -->" | safeHTML}}
<section id="confiance" class="confiance section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.confiance.heading }} {{ . }} {{ end }} <span class="color">{{ with .Site.Data.confiance.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}
         <div class="logo_partenaires">
            {{ range .Site.Data.confiance.teamMember}}
            {{"<!-- Partenaire de Confiance -->" | safeHTML}}
            <div class="logo_partenaire">
				<div class="wow fadeInDown" data-wow-duration="500ms">
					<div class="team-member">
						<div class="member-photo">
							{{"<!-- member logo -->" | safeHTML}}
							<img class="img-fluid" src="{{ .image | absURL }}" alt="Madec Clients">
						</div>
					</div>
				</div>
			</div>
            {{"<!-- end team member -->" | safeHTML}}
            {{ end }}
		  </div>	
        </div>
    </div>
</section>
{{"<!-- /team -->" | safeHTML}}
{{ end }}