{{ if .Site.Params.banner.enable }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" style='background-image: url("{{ .Site.Params.bannerp.bgImage | absURL }}");'>
    <div class="block">
        {{with .Site.Params.banner.icon}}
        {{ end }}
       {{with .Site.Params.bannerp.heading}} <h1>{{ . }}</h1>{{ end }}
       {{with .Site.Params.bannerp.content}} <p>{{ . }}</p> {{ end }}
       {{ if .Site.Params.banner.btn}}
        <a data-scroll href="{{ .Site.Params.banner.btnURL}}" class="btn btn-hero-area">{{ .Site.Params.banner.btnText}}</a>
        {{ end }}
    </div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
